<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log-In</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
      <h1>Please log in</h1>
      <form action="/log-in" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="username" type="text" required />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
        <button type="submit">Log In</button>
      </form>
      <a href="/sign-up">Don't have and account? Sing up</a>
  </div>
</body>
</html>